<div class="form-group col-6">
  <label for="filterOptionsSelect">Select filter option:</label>
  <select class="form-control" id="filterOptionsSelect" [(ngModel)]="selectedFilterOption">
    <option *ngFor="let filterOption of (this.searchStore$ | async)?.filterOptions" [ngValue]="filterOption">{{ filterOption.name }}</option>
  </select>
</div>

<p *ngIf="selectedFilterOption">You selected <b>{{ selectedFilterOption.name }}</b>
  and your search phrase is <b>{{ (searchStore$ | async)?.searchPhrase }}</b></p>
