<h1>Search Component</h1>
<br>
<div class="input-group mb-3 col-6">
  <div class="input-group-prepend">
    <span class="input-group-text">Search for: </span>
  </div>
  <input type="text" [(ngModel)]="searchPhrase" class="form-control" (input)="search($event.target.value)">
</div>

<div class="col-6">
  <div class="form-check-inline">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="searchengineradio"
        (click)="selectSearchEngine('search/google')">Google
    </label>
  </div>
  <div class="form-check-inline">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="searchengineradio"
        (click)="selectSearchEngine('search/bing')">Bing
    </label>
  </div>
</div>

<router-outlet></router-outlet>
